{% extends 'base.html' %}

{%block body_block%}

<!-- Nested row for non-featured blog posts-->



<div class="row">
    <div class="col-lg-8">

        {%for p in posts%}

        <!-- Blog post-->
        <div class="card mb-4" style="background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);">
            <p class="post-meta">@<a href="#!">{{p.posted_by}}</a></p><p>{{p.posted_date}}</p>
            <!-- <div class="small text-muted"></div> -->
            {%if p.image%}
            <img class="card-img-top" src="{{p.image.url}}" alt="..." class="w-100">
            {% endif %}
                <div class="card-body">
                <h2 class="card-title h4">{{p.title}}</h2>
                <p class="card-text">{{p.description}}</p>
                <a href="{%url 'add-post-likes' p.id %}" class="btn btn-sm">{{p.post_likescount}}
                    <i class="fa-regular fa-xl fa-heart"></i></a>
                <form class="mb-4" action="{%url 'add-commend' p.id %}" method="post">
                    {% csrf_token %}
                    <textarea placeholder="leave a comment!" name="commend" class="form-control" rows="3"></textarea>
                    <button type="submit" class="btn btn-outline-info mt-2 btn-sm">Add</button>
                </form>
                <!-- cmd -->
                {%for cmd in p.posts_cmd%}
                <div class="card">
                    <div class="card-header">
                        commend by
                        <a href="#!">{{cmd.commeded_by}}</a>
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>{{cmd}} </p>
                            <h6>on {{cmd.commeded_date}}</h6>
                        </blockquote>
                        <a href="{%url 'add-likes' cmd.id %}" class="btn btn-sm">{{cmd.likescount}}
                            <i class="fa-regular fa-heart"></i>
                        </a>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
        {% endfor%}
        <!-- upload section -->
    </div>
    <div class="col-lg-4">
        <h3>UPLOAD YOUR POST</h3>
        <hr class="border border-danger border-2 opacity-50">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" class="btn btn-outline-success" value="upload">
        </form>
    </div>
</div>
{%endblock%}